.nav{
  position: relative;
  display: table;
  margin: auto;
}

.kit-id-example{
  width: 400px;
  max-width: 100%;
}

hr{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.tag{
  font-size: 1rem;
  padding: 0;
  font-weight: inherit;
}
