.nav{
  position: relative;
  display: table;
  margin: auto;
}

.kit-id-example{
  width: 300px;
  max-width: 100%;
}

hr{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tag{
  font-size: 1rem;
  padding: 0;
  font-weight: inherit;
}

a.readme{
  text-align: center;
  display: block;
}

.textarea-wrapper{
  position: relative;
}

.textarea-wrapper .btn{
  position: absolute;
  top: 0;
  right: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  display: none;
}
